# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_NAME=mcp_db
DB_PASSWORD=your_password
DB_TIMEZONE=Asia/Ulaanbaatar

# SMTP Configuration
SMTP_FROM=your_email@gmail.com
SMTP_USERNAME=your_email@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587 